/* CSS RESEt */
html {
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    /* align-items: center; */
}



/* navbar list styling */
#navbar ul {
    display: flex;
    padding: 15px;
    /* margin-left: -78px; */


}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
    font-family: 'Caprasimo', cursive;

}

#navbar ul li a {
    color: black;
    border: 2px solid black;
    background-color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar::before {
    content: "";
    background-color: black;
    top: 0px;
    left: 0px;
    position: sticky;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.0;
}

#navbar ul li a:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}

#navbar {
    position: absolute;
    top: 0px;


}












#logo {
    margin: 10px 34px;
}

/* navbar logo styling */
#logo img {
    margin: -10px -20px;
    min-height: 140px;
    width: 160px;
    mix-blend-mode: exclusion;
    z-index: 10;
    opacity: 1;
    mix-blend-mode: color-burn;
}















/* home section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 202px;
    height: 650px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    min-height: 760px ;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url('https://images.unsplash.com/photo-1490645935967-10de6ba17061?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHwxOTA3Mjd8fHx8fHx8MTY4Nzg1NDk3MQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600')no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.7;

}


#home h1 {
    color: rgb(31, 29, 29);
    text-align: center;
    margin-top: 260px;
    font-family: 'Bree Serif', serif;

}

#home p {
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

















.btn {
    padding: 6px 20px;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Caprasimo', cursive;
}

.btn:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}

.center {
    text-align: center;
    font-family: 'Bree Serif', serif;
}



















/* services section  */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 20px;
    border-radius: 28px;
    background-color: rgb(230, 245, 250);
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
    mix-blend-mode: multiply;
}























#client-section {
    height: 494px;
    position: relative;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items img {
    height: 240px;


}

.client-items {
    padding: 34px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80') no-repeat center center/cover;
    width: 100%;
    height: 120%;
    z-index: -1;
    opacity: .3;
}



























/* contact section  */
#contact {
    height: 123px;
    margin-top: 6.5em;

}

#contact::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: -1;
    opacity: .3;
    background: url('https://images.unsplash.com/photo-1596524430615-b46475ddff6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid gray;

}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

























.h-primary {
    font-size: 3.8rem;
    padding-top: 40px;
    font-family: 'Bree Serif', serif;
    margin-top: 7rem;


}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    text-align: center;



}